.body {
  display: flex;
  flex-direction: column;

  height: calc(100% - var(--inner-window-topbar-height));

  background-color: rgb(255, 255, 255);
}

.top {
  padding: 10px 8px;
  
  flex-grow: 1;
}

.buttons-container {
  display: flex;
  justify-content: flex-end;
  gap: 8px;

  padding: 8px;
  
  background-color: rgb(240, 240, 240);
  border-top: 1px solid rgb(223, 223, 233);
}