.container {
  position: absolute;
  top: -1px;
  left: -1px;

  width: 520px;
  
  border: 1px solid rgb(132, 146, 166);
  border-radius: 3px;

  z-index: 5;
}

.top {
  display: flex;
  
  background-color: rgb(245, 246, 247);
  border-bottom: 1px solid rgb(171, 184, 201);
  width: 100%;
}

.middle {
  display: flex;
}

.left {
  width: 216px;
  /* temporary */
  height: 300px;
  
  background-color: rgb(251, 252, 253);
  border-right: 1px solid rgb(220, 221, 222);

  flex-shrink: 0;
}

.right {
  width: 100%;
  /* temporary */
  height: 300px;

  background-color: rgb(246, 247, 248);
}

.bottom {
  width: 100%;
  height: 16px;
  
  background-color: rgb(254, 254, 255);
  border-top: 1px solid rgb(201, 213, 231);
}