.container {
  display: flex;
  align-items: center;
  gap: 1px;
  
  height: var(--qa-toolbar-height);

  background-color: rgb(255, 255, 255);  

  box-sizing: border-box;
}
.container--repositioned {
  padding: 0 6px;

  border-bottom: 1px solid rgb(232, 233, 234);
}
.container::before,
.container::after {
  content: '';

  display: block;
  width: 1px;
  height: 14px;

  background-color: var(--line-dark);
}
.container::before {
  margin-right: 4px;
}
.container::after {
  margin-left: 4px;
}
.container--repositioned::before,
.container--repositioned::after {
  display: none;
}

.dropdown-container {
  position: relative;
}