.top {
  padding: 4px 5px;
  margin: 0 0 6px 1px;

  border-bottom: 1px solid rgb(220, 221, 222);
}

.file-button {
  display: flex;
  align-items: center;
  gap: 8px;
  
  padding: 5px 6px;
  width: 100%;

  background-color: transparent;
  border: 1px solid transparent;

  box-sizing: border-box;
}
.file-button:hover {
  background-color: rgb(233, 240, 248);
  border-color: rgb(165, 207, 249);
}