.container {
  position: relative;

  height: 100%;
}

.top {
  padding: 4px 5px;
  margin: 0 0 6px 1px;

  background-color: rgb(246, 247, 248);
  border-bottom: 1px solid rgb(220, 221, 222);
}
.top--alt {
  margin-bottom: 1px;
}

.button {
  display: flex;
  align-items: center;
  gap: 8px;
  
  padding: 5px 6px;
  width: 100%;

  background-color: transparent;
  border: 1px solid transparent;

  box-sizing: border-box;
}
.button:hover {
  background-color: rgb(233, 240, 248);
  border-color: rgb(165, 207, 249);
}
.button:disabled * {
  filter: opacity(0.5);
}
.button:disabled:hover {
  background-color: transparent;
  border-color: transparent;
}

.dropdown {
  position: absolute;
  top: 2px;
  left: 0;

  width: calc(100% - 4px);
  height: calc(100% - 6px);

  border: 1px solid rgb(220, 221, 222);
  border-radius: 3px;
  background-color: rgb(251, 252, 253);
  box-shadow: 2px 2px 4px rgb(220, 220, 220);

  box-sizing: border-box;
}