.container {
  display: flex;
  justify-content: space-between;

  height: var(--ribbon-controls-height);
  
  background-color: var(--white);

  box-sizing: border-box;
  position: relative;
}

.left {
  display: flex;
  align-items: flex-end;
}

.right {
  display: flex;
  align-items: center;
  gap: 1px;
}