.container {
  display: flex;
  justify-content: space-between;

  height: var(--ribbon-controls-height);
  
  background-color: var(--white);
  border-bottom: 1px solid var(--bg-line);

  box-sizing: border-box;
  position: relative;
}

.left {
  display: flex;
  align-items: flex-end;
}

.right {
  display: flex;
  align-items: center;
  gap: 1px;
}

.arrow-down {
  transform: rotate(180deg);
}