.container {
  position: fixed;
  z-index: 3;
}

.default {
  width: 180px;
  padding: 2px;
  
  background-color: rgb(242, 242, 242);
  border: 1px solid rgb(204, 204, 240);
  box-shadow: 2px 2px 2px rgba(30, 30, 30, 0.5);

  box-sizing: border-box;
}

.button {
  display: flex;
  align-items: flex-end;
  gap: 16px;

  padding: 6px 12px;
  width: 100%;

  border: none;
  background-color: transparent;
  color: var(--black);
  font-size: 11.4px;
  line-height: 1;

  user-select: none;
  box-sizing: border-box;
}
.button--close {
  position: relative;
  
  font-weight: bold;
}
.button--close::after {
  content: 'Alt+F4';

  position: absolute;
  right: 16px;
}
.button:hover {
  background-color: rgb(145, 200, 250);
}
.button--disabled {
  color: rgb(109, 109, 109);
}
.button--disabled:hover {
  background-color: rgb(230, 230, 230);
}
.button--disabled .icon {
  opacity: 0.5;
}

.icon {
  width: 8px;
}

.line {
  width: 82%;
  height: 1px;
  margin: 2px 0 2px auto;

  background-color: rgb(215, 215, 215);
}