.container {
  display: flex;
  justify-content: space-between;

  height: var(--topbar-height);
  padding-left: 8px;
  
  /* background-color: red; */

  box-sizing: border-box;
}

.items {
  display: flex;
  align-items: center;
}