.container {
  position: absolute;
  top: 100%;
  left: 0;

  width: 200px;

  outline: 1px solid rgb(220, 221, 222);
  border: 1px solid rgb(255, 255, 255);
  border-radius: 3px;
  background-color: rgb(251, 252, 253);
  box-shadow: 3px 3px rgba(190, 190, 190, 0.2);

  box-sizing: border-box;
  z-index: 2;
}

.top {
  padding: 4px 5px;
  margin-bottom: 1px;

  background-color: rgb(246, 247, 248);
  border-bottom: 1px solid rgb(220, 221, 222);
}

.form {
  position: relative;

  display: grid;
}
.form::before {
  content: '';

  position: absolute;
  top: 1px;
  left: 25px;
  
  display: block;
  width: 1px;
  height: calc(100% - 2px);
  
  background-color: rgb(220, 221, 222);
}

.label,
.button {
  display: flex;
  align-items: center;

  padding-left: 2px;
  gap: 12px;
  
  background-color: transparent;
  border: 1px solid transparent;
}
.label:hover,
.button:hover {
  background-color: rgb(237, 244, 252);
  border-color: rgb(168, 210, 253);
}

.checkbox {
  width: 19px;
  height: 19px;
  margin: 0;
  
  border: 1px solid transparent;
  
  box-sizing: border-box;
  appearance: none;
}
.checkbox:checked {
  background-color: rgb(206, 229, 252);
  border-color: rgb(100, 165, 230);
  background-image: url(../../assets/global/checkmark.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 12px;
}

.line {
  width: 164px;
  height: 1px;
  margin: 1px 0 1px auto;

  background-color: rgb(220, 221, 222);
}