.container {
  position: relative;

  width: 100%;
  height: 100%;
  padding: var(--canvas-container-padding);

  background-color: var(--bg-canvas-bottom);
  background-image: linear-gradient(var(--bg-canvas-top), var(--bg-canvas-bottom));

  box-sizing: border-box;
  overflow: auto;
}
.container--has-rulers {
  --pad: calc(var(--rulers-size) + var(--canvas-container-padding));
  padding: var(--pad) var(--canvas-container-padding) var(--canvas-container-padding) var(--pad);
}