.container {
  display: flex;
  align-items: center;
  gap: 1px;
}

.button {
  width: 45px;
  height: 100%;

  border-radius: 0;
  border: none;
  background-color: transparent;
  color: var(--black);
  transition: 200ms;
}
.button:hover {
  color: var(--black);
  background-color: var(--window-control-bg);
}
.button:active {
  background-color: var(--widnow-control-bg-active);
}

.button--danger:hover {
  background-color: var(--window-control-bg-danger);
  color: var(--white);
}
.button--danger:active {
  background-color: var(--widnow-control-bg-danger-active);
}
.button--disabled {
  color: rgb(153, 153, 153);
}