.container {
  position: relative;
}

.ribbon {
  display: flex;
  align-items: flex-start;
  gap: 2px;

  width: 100%;
  height: var(--ribbon-height);
  padding: 2px 4px;

  background-color: var(--bg-ui);
  border-bottom: 1px solid var(--bg-line);

  box-sizing: border-box;
}
.ribbon--minimized {
  position: absolute;
  
  opacity: 0;

  visibility: hidden;
  transition: opacity 200ms, visibility 200ms;
}
.ribbon--expanded {
  opacity: 1;
  
  visibility: visible;
}

.ribbon > * {
  flex-shrink: 0;
}