.container {
  display: flex;
  align-items: flex-start;
  gap: 2px;

  height: var(--ribbon-height);
  padding: 2px 4px;

  background-color: var(--bg-ui);
  border-top: 1px solid var(--bg-line);
  border-bottom: 1px solid var(--bg-line);

  overflow: hidden;
  box-sizing: border-box;
}

.container * {
  flex-shrink: 0;
}