.container {
  display: flex;
  flex-direction: column;
  align-items: center;

  margin: 0 2px;
  min-width: 42px;

  background-color: transparent;
  border: 1px solid transparent;
}
.container:hover {
  background-color: var(--selected-light);
  border: 1px solid var(--selected-light-line);
}
/* .container--active {
  background-color: var(--selected-dark);
  border: 1px solid var(--selected-dark-line);
} */

.top {
  display: flex;
  justify-content: center;

  padding: 4px 0 2px;
  width: 100%;

  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 1px solid transparent;
  background-color: transparent;
}
.container:hover .top {
  border-bottom: 1px solid var(--selected-light-line); 
}
/* .container--active .top {
  border-bottom: 1px solid var(--selected-dark-line);
} */

.image {
  display: block;
  width: var(--ribbon-icon-size);
  height: var(--ribbon-icon-size);
}

.bottom {
  display: grid;
  justify-items: center;

  padding: 3px 2px 4px;  

  border: none;
  background-color: transparent;
}

.triangle {
  display: block;
  margin-top: 8px;
}
