.container {
  display: flex;
  flex-direction: column;
  align-items: center;

  margin: 0 2px;
  min-width: 42px;

  background-color: transparent;

  position: relative;
}
.container:hover {
  background-color: var(--selected-light);
}

.top {
  display: flex;
  justify-content: center;

  padding: 4px 0 2px;
  width: 100%;

  border: 1px solid transparent;
  background-color: transparent;

  box-sizing: border-box;
}
.container:hover .top {
  border-color: var(--item-hover-line); 
}
.container:hover .top:active {
  border-color: var(--selected-dark-line);
}
.container--active .top {
  background-color: rgb(201, 224, 247);
  border-color: rgb(98, 162, 228);
}
.container--active:hover .top {
  border-color: rgb(98, 162, 228);
  background-color: rgb(213, 230, 247);
}
.container--active .top:active {
  background-color: rgb(201, 224, 247);
}

.image {
  display: block;
  width: var(--ribbon-icon-size);
  height: var(--ribbon-icon-size);
}

.bottom {
  display: grid;
  justify-items: center;

  width: 100%;
  padding: 3px 2px 4px;  

  border: 1px solid transparent;
  border-top: none;
  background-color: transparent;

  box-sizing: border-box;
}
.container:hover .bottom {
  border-color: var(--item-hover-line); 
}
.container:hover .bottom:active {
  border-color: var(--selected-dark-line);
}
.container--active .bottom {
  background-color: rgb(201, 224, 247);
  border-color: rgb(98, 162, 228);
}
.container--active:hover .bottom {
  border-color: rgb(98, 162, 228);
  background-color: rgb(213, 230, 247);
}
.container--active .bottom:active {
  background-color: rgb(201, 224, 247);
}

.triangle {
  display: block;
  margin-top: 8px;
}

.top:active,
.bottom:active {
  background-color: var(--selected-dark);
  border-color: var(--selected-dark-line);
}