.body {
  position: relative;
  
  height: calc(100% - var(--inner-window-topbar-height));

  background-color: rgb(240, 240, 240);

  box-sizing: border-box;
  overflow: hidden;
}

.canvas {
  position: absolute;
  top: 0;
  left: 0;

  display: block;
  
  image-rendering: pixelated;
  image-rendering: crisp-edges;
}

.canvas--selection {
  border: 1px dashed rgb(0, 120, 215);
  background-color: rgb(255, 0, 255);
  box-sizing: border-box;
}