.container {
  position: relative;

  margin: 0 2px;
}

.button {
  display: flex;
  flex-direction: column;
  align-items: center;

  padding: 4px;

  background-color: transparent;
  border: 1px solid transparent;
}
.button:hover {
  background-color: var(--selected-light);
  border-color: var(--selected-light-line);
}
.button:active {
  background-color: var(--selected-dark);
  border-color: var(--selected-dark-line);
}
.button--active {
  background-color: rgb(201, 224, 247);
  border-color: rgb(98, 162, 228);
}
.button--active:hover {
  background-color: rgb(213, 230, 247);
  border-color: rgb(122, 176, 231);
}
.button--active:active {
  background-color: rgb(201, 224, 247);
  border-color: rgb(98, 162, 228);
}
.button--small {
  padding-top: calc(4px + (var(--ribbon-icon-size) - var(--ribbon-icon-small-size)) / 2);
}
.button--disabled * {
  filter: opacity(50%) grayscale(100%);
}
.button--disabled:hover {
  background-color: transparent;
  border-color: transparent;
}

.icon {
  display: block;
  width: var(--ribbon-icon-size);
  height: var(--ribbon-icon-size);
  margin-bottom: 6px;
}
.icon--small {
  width: var(--ribbon-icon-small-size);
  height: var(--ribbon-icon-small-size);
  margin-bottom: calc(6px + (var(--ribbon-icon-size) - var(--ribbon-icon-small-size)) / 2);
}
.icon--only-color {
  display: flex;
  align-items: center;
  justify-content: center;

  padding: 1px;

  background-color: transparent;
  border: 1px solid var(--line-darker);

  box-sizing: border-box;
}
.icon--only-color::after {
  content: '';

  display: block;
  width: 100%;
  height: 100%;

  background-color: currentColor;
}

.triangle {
  display: block;
  margin-top: 8px;
}