@font-face {
  font-family: 'segoe';
  src: url(../assets/segoe.ttf) format('truetype');
}

@layer {
  
  body {
    margin: 0;
    font-family: 'segoe', 'Segoe UI', sans-serif;
  }
    
  .button {
    display: flex;
    align-items: center;
    justify-content: center;
  
    padding: 4px;
    height: 20px;
  
    border-radius: 0;
    background-color: transparent;
    border: none;
  }
  .button:hover {
    background-color: var(--button-hover);
    outline: 1px solid var(--button-hover-outline);
  }

}