@layer {

  .popup {
    position: relative;
    z-index: 2;
  
    padding: 2px;
    
    border: 1px solid rgb(220, 221, 222);
    border-radius: 3px;
    background-color: rgb(251, 252, 253);
    box-shadow: 2px 2px rgba(170, 170, 170, 0.2);
  }
  .popup--inner {
    position: absolute;
    left: 100%;
    top: 0;
  
    opacity: 0;
  
    visibility: hidden;
    transition: visibility 0s linear 300ms, opacity 300ms linear;
  }
  .popup__part {
    position: relative;
  }
  .popup__part::after {
    content: '';
  
    position: absolute;
    top: 1px;
    left: 26px;
    z-index: -1;
  
    display: block;
    width: 1px;
    height: calc(100% - 2px);
  
    background-color: rgb(220, 221, 222);
  }
  
  .popup__head {
    position: relative;
  
    padding: 3px 8px;
    
    background-color: rgb(246, 247, 248);
    border-bottom: 1px solid rgb(220, 221, 222);
  
    z-index: 1;
  }
  
  .popup__line {
    height: 1px;
    width: 100%;
    
    background-color: rgb(220, 221, 222);
  }
  .popup__line--separator {
    width: calc(100% - 34px);
    margin: 2px 0 2px auto;
  }
  
  .popup__button {
    display: flex;
    align-items: center;
    gap: 14px;
  
    position: relative;
  
    min-width: 100%;
    padding: 3px 26px 3px 4px;
  
    background-color: transparent;
    border: none;
  
    box-sizing: border-box;
  }
  .popup__button:hover {
    background-color: rgb(219, 235, 252);
    outline: 1px solid rgb(168, 210, 253);
  }
  .popup__button--active {
    background-color: rgb(206, 229, 252);
    outline: 1px solid rgb(100, 165, 230);
  }
  .popup__button:disabled * {
    filter: opacity(70%);
    filter: grayscale(100%);
  }
  .popup__button:disabled:hover {
    background-color: transparent;
    outline: none;
  }
  .popup__button:hover .popup--inner,
  .popup__button:focus .popup--inner,
  .popup__button:focus-within .popup--inner
   {
    visibility: visible;
    opacity: 1;
    transition-delay: 0s;
  }
  .popup__button__arrow {
    position: absolute;
    right: 8px;
  }
  
  .popup__image {
    width: 15px;
    height: 15px;
    padding: 1px;
  }
  
  .popup__button--selected .popup__image {
    background-color: rgb(205, 230, 250);
    outline: 1px solid rgb(100, 165, 230);
  }
  
}