.resize-top {
  position: absolute;
  top: -8px;
  left: 8px;
  
  /* background-color: red; */
  width: calc(100% - 16px);
  height: 8px;
}
.resize-top:hover {
  cursor: ns-resize;
}

.resize-bottom {
  position: absolute;
  bottom: -8px;
  left: 8px;
  
  /* background-color: blue; */
  width: calc(100% - 16px);
  height: 8px;
}
.resize-bottom:hover {
  cursor: ns-resize;
}

.resize-left {
  position: absolute;
  top: 8px;
  left: -8px;
  
  /* background-color: green; */
  width: 8px;
  height: calc(100% - 16px);
}
.resize-left:hover {
  cursor: ew-resize;
}

.resize-right {
  position: absolute;
  top: 8px;
  right: -8px;
  
  /* background-color: cyan; */
  width: 8px;
  height: calc(100% - 16px);
}
.resize-right:hover {
  cursor: ew-resize;
}

.resize-top-left::before, .resize-top-left::after,
.resize-top-right::before, .resize-top-right::after,
.resize-bottom-left::before, .resize-bottom-left::after,
.resize-bottom-right::before, .resize-bottom-right::after {
  content: '';

  position: absolute;

  display: block;
  width: 8px;
  height: 8px;

  /* background-color: gold; */
}

.resize-top-left:hover {
  cursor: nw-resize;
}
.resize-top-left::before,
.resize-top-left::after {
  top: -8px;
  left: -8px;
}
.resize-top-left::before {
  /* made bigger purposefully, remove width to make it like other corners */
  /* width: 16px; */
  height: 16px;
}
.resize-top-left::after {
  width: 16px;
}

.resize-top-right:hover {
  cursor: ne-resize;
}
.resize-top-right::before,
.resize-top-right::after {
  top: -8px;
  right: -8px;
}
.resize-top-right::before {
  height: 16px;
}
.resize-top-right::after {
  width: 16px;
}

.resize-bottom-left:hover {
  cursor: ne-resize;
}
.resize-bottom-left::before,
.resize-bottom-left::after {
  bottom: -8px;
  left: -8px;
}
.resize-bottom-left::before {
  height: 16px;
}
.resize-bottom-left::after {
  width: 16px;
}

.resize-bottom-right:hover {
  cursor: nw-resize;
}
.resize-bottom-right::before,
.resize-bottom-right::after {
  bottom: -8px;
  right: -8px;
}
.resize-bottom-right::before {
  /* made bigger purposefully, remove width to make it like other corners */
  width: 16px;
  height: 16px;
}
.resize-bottom-right::after {
  width: 16px;
}

/**** point ****/

.point-container {
  --resizer-size: 30px;

  position: relative;

  width: max-content;
}
.point-container--inner {
  position: absolute;
}

.point-outline {
  position: absolute;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;

  border: 1px dotted rgb(0, 0, 0);

  pointer-events: none;
  box-sizing: border-box;
}

.point-bottom,
.point-right,
.point-top,
.point-left {
  display: flex;

  position: absolute;

  width: var(--resizer-size);
  height: var(--resizer-size);
}

.point-top::after,
.point-top-right::after,
.point-right::after,
.point-bottom-right::after,
.point-bottom::after,
.point-bottom-left::after,
.point-left::after,
.point-top-left::after {
  content: '';

  display: block;
  width: 5px;
  height: 5px;

  background-color: rgb(255, 255, 255);
  border: 1px solid rgb(85, 85, 85);

  box-sizing: border-box;
}

.point-top {
  align-items: flex-start;
  justify-content: center;

  top: 0;
  left: calc(50% - var(--resizer-size) / 2);
}
.point-top:hover {
  cursor: ns-resize;
}

.point-bottom {
  align-items: flex-start;
  justify-content: center;
  
  top: 100%;
  left: calc(50% - var(--resizer-size) / 2);
}
.point-bottom:hover {
  cursor: ns-resize;
}

.point-right {
  align-items: center;
  justify-content: flex-start;
  
  top: calc(50% - var(--resizer-size) / 2);
  left: 100%;
}
.point-right:hover {
  cursor: ew-resize;
}

.point-left {
  align-items: center;
  justify-content: flex-start;
  
  top: calc(50% - var(--resizer-size) / 2);
  left: 0;
}
.point-left:hover {
  cursor: ew-resize;
}

.point-bottom-right {
  position: absolute;
  top: 100%;
  left: calc(100% - 20px);

  width: 20px;
  height: 20px;
}
.point-bottom-right:hover {
  cursor: se-resize;
}
.point-bottom-right::after {
  position: absolute;
  top: 0;
  left: 20px;
}
.point-bottom-right::before {
  content: '';

  position: absolute;
  left: 100%;
  bottom: 0;
  
  display: block;
  width: 20px;
  height: 40px;
}

.point-top-right {
  position: absolute;
  top: 0;
  left: calc(100% - 20px);

  width: 20px;
  height: 20px;
}
.point-top-right:hover {
  cursor: ne-resize;
}
.point-top-right::after {
  position: absolute;
  top: 0;
  left: 20px;
}
.point-top-right::before {
  content: '';

  position: absolute;
  left: 100%;
  bottom: 0;
  
  display: block;
  width: 20px;
  height: 40px;
}

.point-top-left {
  position: absolute;
  top: 0;
  left: 0;

  width: 20px;
  height: 20px;
}
.point-top-left:hover {
  cursor: nw-resize;
}
.point-top-left::after {
  position: absolute;
  top: 0;
  left: 0px;
}
.point-top-left::before {
  content: '';

  position: absolute;
  left: 100%;
  bottom: 0;
  
  display: block;
  width: 20px;
  height: 40px;
}

.point-bottom-left {
  position: absolute;
  top: 100%;
  left: 0;

  width: 20px;
  height: 20px;
}
.point-bottom-left:hover {
  cursor: ne-resize;
}
.point-bottom-left::after {
  position: absolute;
  top: 0;
  left: 0;
}
.point-bottom-left::before {
  content: '';

  position: absolute;
  left: 100%;
  bottom: 0;
  
  display: block;
  width: 20px;
  height: 40px;
}