.ribbon-button {
  width: 56px;
  height: var(--ribbon-controls-height);
  padding: 0;

  color: var(--text-color);
  border-radius: 0;
  border: 1px solid transparent;
  font-size: 11px;
  letter-spacing: 1px;
  background-color: transparent;

  box-sizing: border-box;
  transition: 100ms;
}
.ribbon-button:hover {
  --b: 1px solid var(--bg-line-light);

  background-color: var(--almost-white);
  border-top: var(--b);
  border-left: var(--b);
  border-right: var(--b);
}

.ribbon-button--blue {
  background-color: var(--button-blue);
  border: none;
  color: var(--white);
}
.ribbon-button--blue:hover {
  background-color: var(--button-blue-hover);
  border: none;
}
.ribbon-button--blue:active {
  background-color: rgb(18, 104, 179);
}

.ribbon-button--active,
.ribbon-button--active:hover {
  --b: 1px solid var(--bg-line);

  position: relative;

  background-color: var(--bg-ui);
  border-top: var(--b);
  border-left: var(--b);
  border-right: var(--b);
}
.ribbon-button--active::after {
  content: '';

  position: absolute;
  top: calc(100% + 1px);
  
  display: block;
  width: 100%;
  height: 1px;

  background-color: var(--bg-ui);
}

.ribbon-button--no-ribbon::after {
  display: none;
}

.ribbon-button--last {
  margin-left: 1px;
}