@layer {

  .text {
    font-size: 12.4px;
    margin: 0;
    padding: 0;
    font-weight: normal;
    line-height: 1;
    color: var(--text-color-4);
    /* text-align: center; */
  
    user-select: none;
  }
  
  .text--1 {
    font-size: 11px;
    color: var(--text-color);
    letter-spacing: 1px;
  }

  .text--2 {
    color: var(--text-color-2);
  }

  .text--3 {
    color: var(--black);
  }

  .text--4 {
    font-size: 11px;
    color: var(--text-color);
    text-align: left;
    line-height: 1.3;
  }

  .text--5 {
    color: rgb(0, 50, 150);
    font-size: 16px;
  }

  .text--6 {
    color: rgb(75, 75, 75);
    font-size: 11px;
    text-align: left;
    line-height: 1.25;
    letter-spacing: 0;
  }

  .text--black {
    color: rgb(0, 0, 0);
  }
  
  .text--centered {
    text-align: center;
  }
  
  .text--nowrap {
    white-space: nowrap;
  }
  
  .text--underline {
    text-decoration: underline;
  }

  .text--disabled {
    color: rgb(170, 170, 170);
  }

  @keyframes text-attention {
    100% {
      color: rgb(170, 170, 170);
    }
  }
  .text--attention {
    animation: text-attention var(--attention-animation);
  }
}