@layer {

  .text {
    font-size: 12.4px;
    margin: 0;
    padding: 0;
    font-weight: normal;
    line-height: 1;
    color: var(--text-color-4);
    text-align: center;
  
    user-select: none;
  }
  
  .text--1 {
    font-size: 11px;
    color: var(--text-color);
    letter-spacing: 1px;
  }

  .text--2 {
    color: var(--text-color-2);
  }

  .text--3 {
    color: var(--black);
  }

}