:root {
  --black: rgb(0, 0, 0);
  --white: rgb(255, 255, 255);
  --almost-white: rgb(253, 253, 255);
  --dark-white: rgb(240, 240, 240);

  --bg-ui: rgb(245, 246, 247);
  --bg-line: rgb(218, 219, 220);
  --bg-line-light: rgb(235, 235, 236);
  --bg-canvas-top: rgb(197, 207, 223);
  --bg-canvas-bottom: rgb(220, 229, 242);

  --line: rgb(227, 228, 229);
  --line-medium: rgb(215, 215, 215);
  --line-dark: rgb(165, 165, 165);
  --line-darker: rgb(128, 128, 128);

  --selected-light: rgb(238, 243, 247);
  --selected-light-hover: rgb(249, 250, 250);
  --selected-light-active: rgb(201, 224, 247);
  --selected-light-active-border: rgb(98, 162, 228);
  --selected-light-active-image: rgb(220, 235, 250);

  --selected-inner-bg: rgb(244, 247, 250);
  --selected-light-line: rgb(196, 223, 249);
  --selected-light-line-dark: rgb(160, 205, 250);
  --selected-dark: rgb(201, 224, 247);
  --selected-dark-line: rgb(98, 162, 228);

  --item-hover: rgb(232, 239, 247);
  --item-hover-line: rgb(147, 190, 234);
  --item-active: rgb(201, 224, 247);
  
  --text-color: rgb(60, 60, 60);
  --text-color-2: rgb(90, 90, 90);
  --text-color-3: rgb(170, 170, 170);
  --text-color-4: rgb(40, 40, 40);

  --dots: rgb(191, 191, 191);
  --canvas-shadow: rgb(171, 184, 202);
  --dropdown-shadow: rgb(236, 236, 236);

  --button-hover: rgb(241, 247, 254);
  --button-hover-border: rgb(171, 212, 254);
  --button-active: rgb(209, 231, 254);
  --button-active-border: rgb(102, 166, 231);
  --button-blue: rgb(25, 121, 202);
  --button-blue-hover: rgb(41, 140, 225);

  --window-control-bg: rgb(229, 229, 229);
  --widnow-control-bg-active: rgb(202, 202, 202);
  --window-control-bg-danger: rgb(232, 17, 35);
  --widnow-control-bg-danger-active: rgb(241, 112, 122);

  --ribbon-icon-size: 31px;
  --ribbon-icon-small-size: 23px;
  --ribbon-height: 98px;
  --ribbon-controls-height: 24px;
  --topbar-height: 30px;
  --qa-toolbar-height: 25px;
  --inner-window-topbar-height: 30px;
  
  --statusbar-height: 26px;
  --window-shadow: rgb(30, 40, 50);
  --window-border: rgb(150, 155, 161);

  --attention-animation: alternate 75ms infinite;

  --cursor-draw: url(../assets/cursors/draw.png) 9 9, default;
  --cursor-pencil: url(../assets/cursors/pencil.png) 1 14, default;
  --cursor-fill: url(../assets/cursors/fill.png) 1 12, default;
  --cursor-color-picker: url(../assets/cursors/picker.png) 0 14, default;
  --cursor-selection: url(../assets/cursors/select.png) 10 10, default;
  --cursor-airbrush: url(../assets/cursors/spray.png) 0 12, default;
  --cursor-text: url(../assets/cursors/text.png) 3 9, default;
  --cursor-magnifier: url(../assets/cursors/zoom.png) 5 5, default;
}
