.ruler {
  --offset: calc(var(--rulers-size) + var(--canvas-container-padding));

  position: absolute;

  background-color: rgb(241, 243, 248);
}

.ruler--top {
  top: 0;
  left: var(--offset);

  height: var(--rulers-size);

  border-bottom: 1px solid rgb(142, 156, 175);
}

.ruler--left {
  top: var(--offset);
  left: 0;

  width: var(--rulers-size);

  border-right: 1px solid rgb(142, 156, 175);
}

.ruler--top-left {
  top: 0;
  left: 0;
  
  width: var(--offset);
  height: var(--offset);

  background-color: transparent;
}