.container {
  position: absolute;

  border: 1px solid var(--window-border);
  box-shadow: 0 0 15px rgba(30, 40, 50, 0.8);

  box-sizing: border-box;
  user-select: none;

  transition: opacity 150ms linear, transform 150ms linear;
}
.container--focused {
  border-color: rgb(255, 255, 255);
}
.container--inner {
  border-color: var(--window-border);
}
.container--hidden {
  opacity: 0;
  transform: scale(0.85, 0.85);
}
@keyframes attention {
  100% {
    border-color: rgb(90, 95, 100);
    box-shadow: 0 0 10px rgba(30, 40, 50, 0.8);
  }
}
.container--attention {
  animation: attention var(--attention-animation);
}
.container--locked {
  pointer-events: none;
}
.container--fixed {
  position: fixed;
}