.body {
  display: grid;
  align-content: space-between;
  
  padding: 16px;
  height: calc(100% - var(--inner-window-topbar-height));

  background-color: rgb(240, 240, 240);

  box-sizing: border-box;
}

.text-push {
  display: inline-block;
  width: 120px;
}
.text-push--small {
  width: 50px;
}

.siblings {
  display: flex;
  gap: 8px;

  margin: 12px 0; 
}
.siblings > * {
  width: 100%;
}

.row {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.buttons-container {
  display: flex;
  justify-content: flex-end;
  gap: 8px;
}