.color-picker {
  position: relative;
  
  display: flex;
  justify-content: space-between;

  margin-bottom: 8px;
}

.color-field {
  width: 175px;
  height: 187px;
  
  background-image: url(./assets//color-picker.png);
  border: 1px solid rgb(160, 160, 160);
  border-bottom-color: rgb(255, 255, 255);
  border-right-color: rgb(255, 255, 255);
}

.color-bar-container {
  padding: 0 10px;
}

.color-bar {
  position: relative;

  width: 9px;
  height: 187px;

  border: 1px solid rgb(160, 160, 160);
  border-bottom-color: rgb(255, 255, 255);
  border-right-color: rgb(255, 255, 255);
}

.color-bar-control {
  position: absolute;
  top: 0;
  right: 2px;

  width: 0;
  height: 0;

  border: 7px solid transparent;
  border-right-color: black;
}

.color-data {
  display: flex;
  justify-content: space-between;
}

.color-showcase-container {
  display: grid;
  align-content: start;
  justify-items: center;
  gap: 2px;
}

.color-showcase {
  width: 65px;
  height: 40px;
  
  border: 1px solid rgb(160, 160, 160);
  border-bottom-color: rgb(255, 255, 255);
  border-right-color: rgb(255, 255, 255);
}

.column {
  display: grid;
  gap: 4px;
}

.color-label {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 5px;
}