.canvas {
  position: absolute;
  top: 0;
  left: 0;
  
  display: block;

  image-rendering: pixelated;
  image-rendering: crisp-edges;
}

.canvas--primary {
  background-color: rgb(255, 0, 255);
  box-shadow: 5px 5px 2px rgba(100, 100, 100, 0.2);
}

.canvas--brush {
  pointer-events: none;
  overflow: hidden;
}

.canvas--selection {
  outline: 1px dashed rgb(0, 0, 0);

  box-sizing: border-box;
}
.canvas--selection--shape {
  outline-color: transparent;
}
.canvas--selection--ready {
  outline-color: rgb(0, 120, 215);
}

.canvas--grid-lines {
  pointer-events: none;
}