.canvas {
  position: absolute;
  top: 0;
  left: 0;
  
  display: block;

  image-rendering: pixelated;
  image-rendering: crisp-edges;
}
.canvas--primary {
  background-color: rgb(255, 0, 255);
  box-shadow: 5px 5px 2px rgba(100, 100, 100, 0.2);
}
.canvas--selection {
  border: 1px dashed rgb(0, 0, 0);

  box-sizing: border-box;
}
.canvas--selection--ready {
  border-color: rgb(0, 120, 215);
}
.canvas--cursor-draw {
  cursor: var(--cursor-draw);
}
.canvas--cursor-pencil {
  cursor: var(--cursor-pencil);
}
.canvas--cursor-fill {
  cursor: var(--cursor-fill);
}
.canvas--cursor-color-picker {
  cursor: var(--cursor-color-picker);
}
.canvas--cursor-selection {
  cursor: var(--cursor-selection);
}
.canvas--cursor-airbrush {
  cursor: var(--cursor-airbrush);
}
.canvas--cursor-text {
  cursor: var(--cursor-text);
}
.canvas--cursor-magnifier {
  cursor: var(--cursor-magnifier);
}
.canvas--cursor-none {
  cursor: none;
}

.eraser-container {
  position: absolute;
  top: 0;
  left: 0;
  
  width: 100%;
  height: 100%;

  pointer-events: none;
  overflow: hidden;
}

.eraser {
  position: absolute;
  top: 5px;
  left: 5px;

  border: 1px solid rgb(0, 0, 0);

  box-sizing: border-box;
  pointer-events: none;
}