.canvas {
  position: absolute;
  top: 0;
  left: 0;
  
  display: block;

  image-rendering: crisp-edges;
}
.canvas--primary {
  background-color: rgb(255, 0, 255);
  box-shadow: 5px 5px 2px rgba(100, 100, 100, 0.2);
}
.canvas--tertiary {
  border: 1px dashed black;
}
.canvas--cursor-draw {
  cursor: url(./assets/draw.png) 9 9, default;
}
.canvas--cursor-pencil {
  cursor: url(./assets/pencil.png) 1 14, default;
}
.canvas--cursor-fill {
  cursor: url(./assets/fill.png) 1 12, default;
}
.canvas--cursor-color-picker {
  cursor: url(./assets/picker.png) 0 14, default;
}
.canvas--cursor-selection {
  cursor: url(./assets/select.png) 10 10, default;
}
.canvas--cursor-airbrush {
  cursor: url(./assets/spray.png) 0 12, default;
}
.canvas--cursor-text {
  cursor: url(./assets/text.png) 3 9, default;
}
.canvas--cursor-magnifier {
  cursor: url(./assets/zoom.png) 5 5, default;
}
.canvas--cursor-none {
  cursor: none;
}

.eraser {
  position: absolute;
  top: 5px;
  left: 5px;

  border: 1px solid rgb(0, 0, 0);

  box-sizing: border-box;
  pointer-events: none;
}