.container {
  display: flex;
  /* background-color: blueviolet; */
}

.colors-grid {
  display: grid;
  grid-template-columns: repeat(10, auto);
  align-content: start;
  gap: 2px;

  padding-top: 4px;
}

.color {
  width: 19px;
  height: 19px;
  padding: 1px;

  border: 1px solid var(--line-darker);
  background-color: rgb(255, 255, 255);
  color: transparent;
  
  box-sizing: border-box;
}
.color--has-color:hover {
  background-color: rgb(203, 228, 253);
  border-color: rgb(100, 165, 231);
}
.color--black-and-white {
  filter: grayscale(100%);
}
.color::after {
  content: '';

  display: block;
  width: 100%;
  height: 100%;

  background-color: currentColor;
}