.container {
  display: flex;
  align-items: center;
  justify-content: space-between;

  padding: 1px 0;
  height: var(--bottombar-height);
  
  background-color: var(--dark-white);
  border-top: 1px solid var(--line-medium);
  background-image: url(./assets/dots.png);
  background-repeat: no-repeat;
  background-position: bottom 2px right 2px;

  box-sizing: border-box;
}

.left {
  display: flex;
  align-items: center;

  height: 100%;
}

.data {
  display: flex;
  align-items: center;
  gap: 6px;

  height: 100%;
  padding-left: 6px;
  width: 155px;
  border-right: 1px solid var(--line-medium);
}

.right {
  display: flex;
  align-items: center;
  gap: 3px;

  padding: 0 23px;
  height: 100%;

  border-left: 1px solid var(--line-medium);
}

